<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.title) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>"></meta>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% } %>
    <% if (htmlWebpackPlugin.files.chunks.main.css) { %>
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.main.css %>"></link>
    <% } %>
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browse-happy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="app"></div>
    <%
      var hasShownLocaleHelp = false;

      for (var chunk in htmlWebpackPlugin.files.chunks) {
        if ( /globalize-compiled-data-/.test( chunk ) && chunk !== "globalize-compiled-data-en" ) {
          if ( !hasShownLocaleHelp ) {
      			hasShownLocaleHelp = true;
    %>
    <!--
    Load support for the `en` (English) locale.
    For displaying the application in a different locale, replace `en` with
    whatever other supported locale you want, e.g., `pt` (Portuguese).
    For supporting additional locales simultaneously and then having your
    application to change it dynamically, load the multiple files here. Then,
    use `Globalize.locale( <locale> )` in your application to dynamically set
    it.
    -->
    <%
          }
    %>
    <!-- <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" type="text/javascript"></script> -->
    <%
        } else {
    %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" type="text/javascript"></script>
    <%
        }
      }
    %>
  </body>
</html>
